MYSQL_DATABASE=telcox_db
MYSQL_USER=telcox_user
MYSQL_PASSWORD=telcox_password
MYSQL_ROOT_PASSWORD=root_password

BACKEND_PORT=5000
FRONTEND_PORT=4200

DATABASE_URL=mysql+pymysql://telcox_user:telcox_password@mysql:3306/telcox_db
