# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*

# Docker / OS
.DS_Store

# IDE
.vscode/
.idea/

# Coverage
coverage/
htmlcov/
.pytest_cache/
